body {
  background: linear-gradient(135deg, #121212, #1e1e1e, #333);
  color: #f5f5f5;
  height: 98vh;
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 20px;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  gap: 1.5em;
  padding-left: 0px;
  list-style: none;
}

.navbar a {
  color: #f5f5f5;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a.active {
  color: #00eebe;
}

.navbar a:hover {
  color: #00eebeec;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: top;
  justify-content: center;
  margin-top: 20px;
}

.fixed-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixed-image img {
  width: 200px;
  margin: 30px;
}

.token.keyword {
  color: #00eebe;
  font-weight: bold;
}

.token.string {
  color: #fad354;
}

.token.number {
  color: #40a7cf;
}

.token.comment {
  color: #d3d3d3;
  font-style: italic;
}

.token.operator {
  color: #ffa07a;
}

.code-editor-div {
  position: relative;
  width: 70%;
  height: 60vh;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2d2d2d;
  box-sizing: border-box;
}

.code-editor-textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  border: none;
  background: transparent;
  color: transparent;
  caret-color: white;
  font-family: monospace;
  font-size: 13pt;
  line-height: 20pt;
  resize: none;
  overflow: scroll;
  white-space: pre;
  box-sizing: border-box;
}

.code-editor-pre {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  border: none;
  background: transparent;
  color: white;
  font-family: monospace;
  font-size: 13pt;
  line-height: 20pt;
  pointer-events: none;
  overflow: scroll;
  box-sizing: border-box;
}

.code-editor-textarea::selection {
  background: rgba(255, 255, 255, 0.3);
}

.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generate-button {
  padding: 10px 20px;
  background-color: #00eebe;
  color: #121212;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}